
<%= render 'slidemenu' %>

<div class="content">
<section class="section-recipes">
  <div class="menu-trigger"><i class="ion-gear-b icon-big"></i></div>
<h2>New Recipe</h2>
<%= render 'form' %>

</section>
</div>

