<header>
<nav>
	<div class="row">
		<img class="logo" src="/assets/cook-negative.png" alt="logo">
		<ul class="main-nav">
			<li><a href="#">Why Help Me</a></li>
			<li><a href="#">Share Your Recipe</a></li>
			<li><a href="#">Say Hi</a></li>
		</ul>
	</div>
</nav>

	<div class="hero-text-box">
		<h1>Teach me how to cook. <br> Please...</h1>
		<a class="btn btn-full" href="#">I'm hungry</a>
		<a class="btn btn-ghost" href="#">Share Your Recipe</a>

	</div>
</header>