<header>
<nav>
	<div class="row">
<!-- 		<img class="logo" src="/assets/cook-negative.png" alt="logo"> -->

<div class="wrapper">
  <svg xmlns="http://www.w3.org/2000/svg"
   xmlns:xhtml="http://www.w3.org/1999/xhtml"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   version="1.1"
   width="10cm" height="10cm"
   viewBox="0 0 1000 1000"
   preserveAspectRatio="xMinYMin"
>
<defs>
<path id="textPath" d="M 250 500 A 250,250 0 1 1 250 500.0001"/>
</defs>
<text class="circle-text" x="0" y="0" text-anchor="middle"><textPath xlink:href="#textPath" startOffset="50%" >TEACH ME HOW TO COOK...</textPath></text>
</svg>
		<img class="logo" src="/assets/cook-negative.png" alt="logo">
  </div>



		<ul class="main-nav">
			<li><a href="#section-signup" class="page-scroll">Sign Up / Log In</a></li>
			<li><a href="#section-steps" class="page-scroll">Instructions</a></li>
			<li><a href="#section-features" class="page-scroll">Share Your Recipe</a></li>
			<li><a href="#" class="page-scroll">Notify Me</a></li>
		</ul>
	</div>
</nav>

	<div class="hero-text-box">
		<h1>Teach me how to cook. <br> Please...</h1>
		<a class="btn btn-full" href="#">I'm hungry</a>
		<a class="btn btn-ghost" href="#">Share Your Recipe</a>

	</div>
</header>


<section id="section-steps">

	<div class="row">
		<h2>How it works &mdash; Simple as 1, 2, 3 </h2>
	</div>
	<div class="row">
		<div class="col span-1-of-2 macbook">
			<img src="/assets/teach-me-how-to-cook-transparent.gif" alt="macbook-frame" class="app-screen">
		</div>
		<div class="col span-1-of-2">

			<div class="works-step">
				<div>1</div>
				<p><a href="#">Sign Up with Facebook to be able to create a recipe for me</a></p>
			</div>

				<div class="works-step">
				<div>2</div>
				<p><a href="#">Share Your Recipe by adding Ingredients, Directions and Images to your recipe post</a></p>
			</div>

			<div class="works-step">
				<div>3</div>
				<p><a href="#">Notify me of a new recipe and I will recreate it and post pictures of the result!</a></p>
			</div>
			
			<a href="#" class="btn-app"><img src="/assets/download-app.svg" alt="AppStore"></a>
			<a href="#" class="btn-app"><img src="/assets/download-app-android.png" alt="AndroidStore"></a>
		</div>
	</div>

</section>



<section id="section-features">

	<div class="row">
		<h2>Share your favorite recipes with me!</h2>
		<p class="long-copy">
			Add your recipe by following the instructions and check out my friends' most recent recipes posted!
		</p>
	</div>


		<div class="row">

		<div class="col span-1-of-4 box">
		<i class="icon ion-ios-nutrition icon-big"></i>
			<h3>Appetizers</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In impedit, quia libero pariatur ea aut totam quaerat natus nisi nihil consectetur unde dolorum! Minima velit ipsum necessitatibus similique. Quaerat, iusto.</p>
		</div>

				<div class="col span-1-of-4 box">
		<i class="icon ion-pizza icon-big"></i>
			<h3>Main Entrees</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In impedit, quia libero pariatur ea aut totam quaerat natus nisi nihil consectetur unde dolorum! Minima velit ipsum necessitatibus similique. Quaerat, iusto.</p>
		</div>

				<div class="col span-1-of-4 box">
		<i class="icon ion-icecream icon-big"></i>
			<h3>Desserts</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In impedit, quia libero pariatur ea aut totam quaerat natus nisi nihil consectetur unde dolorum! Minima velit ipsum necessitatibus similique. Quaerat, iusto.</p>
		</div>

				<div class="col span-1-of-4 box">
		<i class="icon ion-android-bar icon-big"></i>
			<h3>Coctails / Smoothies</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In impedit, quia libero pariatur ea aut totam quaerat natus nisi nihil consectetur unde dolorum! Minima velit ipsum necessitatibus similique. Quaerat, iusto.</p>
		</div>

	</div> <!-- end of row -->

</section>


<section id="section-meals">
	<ul class="meals-showcase clearfix">
	<% if false %>
		<% @images.each do |image| %>
		<li>
			<figure class="meal-photo">
			   <%= image_tag "recent-recipes/#{image.split('/').last}" %>
			</figure>
		</li>
			<% end %>
			<% end %>
	</ul>

</section>


<section id="section-recipes">
	<div class="row">
		<h2>Most Recent Recipes Added By Friends</h2>
	</div>
	<div class="row">

		<div class="col span-1-of-4 box recipe-box">
		<figure class="meal-photo">
		<img src="/assets/recent-recipes/1.jpg" alt="">
		</figure>

				<div class="contenthover">
					<ul>
						<li>4 egg yolks</li>
						<li>3 1/2 tablespoons lemon juice</li>
						<li>1 pinch ground white pepper</li>
						<li>1/8 teaspoon Worcestershire sauce</li>
					</ul>
				</div>

		<h3>Chinese Egg</h3>
		<div class="recipe-ingredient">
			<i class="ion-pizza icon-small"></i>Category: Main Entree
		</div>
		<div class="recipe-ingredient">
			<i class="ion-person icon-small"></i>Created by: John Smith
		</div>
			<div class="recipe-ingredient">
			<i class="ion-calendar icon-small"></i>Added on: 2015-11-26
		</div>
		</div>

				<div class="col span-1-of-4 box recipe-box">
			<figure class="meal-photo">
		<img src="/assets/recent-recipes/2.jpg" alt="">
		</figure>

		<div class="contenthover">Your content goes here.</div>

		<h3>Crusty Pizza</h3>
		<div class="recipe-ingredient">
			<i class="ion-pizza icon-small"></i>Category: Main Entree
		</div>
		<div class="recipe-ingredient">
			<i class="ion-person icon-small"></i>Created by: John Smith
		</div>
			<div class="recipe-ingredient">
			<i class="ion-calendar icon-small"></i>Added on: 2015-11-26
		</div>
		</div>

		<div class="col span-1-of-4 box recipe-box">
		<figure class="meal-photo">
		<img src="/assets/recent-recipes/3.jpg" alt="">
		</figure>

		<div class="contenthover">Your content goes here.</div>

		<h3>Healthy Chicken</h3>
		<div class="recipe-ingredient">
			<i class="ion-pizza icon-small"></i>Category: Main Entree
		</div>
		<div class="recipe-ingredient">
			<i class="ion-person icon-small"></i>Created by: John Smith
		</div>
			<div class="recipe-ingredient">
			<i class="ion-calendar icon-small"></i>Added on: 2015-11-26
		</div>
		</div>

			<div class="col span-1-of-4 box recipe-box">
			<figure class="meal-photo">
		<img src="/assets/recent-recipes/4.jpg" alt="">
		</figure>

		<div class="contenthover">Your content goes here.</div>

		<h3>Pumpkin soup</h3>
		<div class="recipe-ingredient">
			<i class="ion-pizza icon-small"></i>Category: Main Entree
		</div>
		<div class="recipe-ingredient">
			<i class="ion-person icon-small"></i>Created by: John Smith
		</div>
			<div class="recipe-ingredient">
			<i class="ion-calendar icon-small"></i>Added on: 2015-11-26
		</div>
		</div>

	</div> <!-- end of row -->

</section>



<section id="section-advice">
	<div class="row">
		<h2>Bla bla bla</h2>
	</div>

	<div class="row">

		<div class="col span-1-of-3">
			<blockquote>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis, sapiente id repellendus! Animi illo, necessitatibus molestias, nisi facilis, porro quis, quia velit voluptates eos obcaecati natus! Dolorum, cum, quam.
				<cite><img src="/assets/customer-2.jpg" alt=""> John Smith</cite>
			</blockquote>
		</div>

		<div class="col span-1-of-3">
			<blockquote>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis, sapiente id repellendus! Animi illo, necessitatibus molestias, nisi facilis, porro quis, quia velit voluptates eos obcaecati natus! Dolorum, cum, quam.
				<cite><img src="/assets/customer-2.jpg" alt=""> John Smith</cite>
			</blockquote>
		</div>

				<div class="col span-1-of-3">
			<blockquote>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis, sapiente id repellendus! Animi illo, necessitatibus molestias, nisi facilis, porro quis, quia velit voluptates eos obcaecati natus! Dolorum, cum, quam.
				<cite><img src="/assets/customer-2.jpg" alt=""> John Smith</cite>
			</blockquote>
		</div>

	</div>

</section>

<section id="section-signup">
<div class="row">
	<h2>Create an account</h2>
</div>

<div class="row">

		<div class="signup-box">
		<h3>One-Click Registration</h3>


		<div class="row">
				  <%= link_to 'auth/facebook' do %>
		   		<a class="btn btn-full" href="#"><i class="ion-social-facebook"></i>Sign Up With Facebook</a>
		   <% end %>
		   </div>
		</div>

</div>



   </section>

