/* From big tablets to 1022px (widths smaller than 1140px row) */

@media (max-width: 1200px) {

.hero-text-box {
    width: 100%;
    padding: 0 2%;
}

.row {
	padding: 0 2%;
}

}


/* Small tablets to big tablets from 768 to 1023px */

@media (max-width: 1023px) {
.hero-text-box,
nav {
font-size: 80%;
}

section {
	padding: 60px 0;
}

}


/* Small phones to small tablets from 481 to 767px */

@media (max-width: 767px) {

}


/* Small phones from 0 to 480px */

@media (max-width: 480px) {
nav {
font-size: 50%;
}
}
