<footer>
	<div class="row">

		<div class="col span-1-of-2">
			<ul class="footer-nav">
				<li><a href="http://slyka85.github.io" target="_blank">Developer</a></li>
				<li><a href="http://girlonrailsblog.herokuapp.com" target="_blank">Blog</a></li>
			</ul>
		</div>


	   <div class="col span-1-of-2">
			<ul class="social-links">
				<li><a href="https://github.com/slyka85" target="_blank"><i class="ion-social-github icon-small"></i></a></li>
				<li><a href="https://www.linkedin.com/in/anyamelnyk" target="_blank"><i class="ion-social-linkedin icon-small"></i></a></li>
				<li><a href="https://www.facebook.com/Slyka85" target="_blank"><i class="ion-social-facebook icon-small"></i></a></li>
				<li><a href="https://www.instagram.com/slyka85" target="_blank"><i class="ion-social-instagram icon-small"></i></a></li>
				<li><a href="https://twitter.com/anyamelnyk" target="_blank"><i class="ion-social-twitter icon-small"></i></a></li>
			</ul>
		</div>

	</div>

	<div class="row">
		<p>Copyright &copy 2015 by Anya Melnyk. All Rights Reserved</p>
	</div>
</footer>